/* GLOBAL VARIABLES */ 
* {
    font-family: arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
}

/* BODY STYLES */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto; 
    padding: 5px;
}

/* NAV STYLES */

a:hover {
    text-decoration: underline;
}

.user-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;

}

.mini-menu {
    height: 17px;
    width: 17px;
}

/* NAV FLEX STYLES */

.nav-links {
    display: flex;
    width: 100%;
    padding: 0px 0px 0px 10px;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
}

.first {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    margin: 10px;
}

.third {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}

.logo-container {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2.2em;
}

/* LOGO STYLES */

.logo {
    height: 92px;
    width: 272px;
    margin-left: auto;
    margin-right: auto;
    display:block;

}

/* SEARCH BAR */

.bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius:50px;
    padding:10px;
    border:0px;
    outline: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    width: 400px;
    margin-bottom: 35px;
    max-width: 400px;
}

.bar:hover{
    -webkit-box-shadow: 3px 6px 7px -3px #ccc;
}

#my-input {
    background-image: url('/images/mag.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px;
    background-position-x: 1em;
    width: 95%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;   
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;    
}

/* FOOTER STYLES */

.bottom-links {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 30%;
    padding: 15px;

}

.second-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
}

.footer {
    flex-shrink: 0;
    justify-content: space-between;
    background-color: rgb(242, 242, 242); 
}

.footer-links {
    color: rgb(112, 117, 122);
}

footer.footer {
    padding-top: -100px
}

/* DESKTOP VIEW */

@media (min-width: 500px) {


    .bottom-links {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .first-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        min-width: 30%;
        padding: 0;

    }
    
    .second-section {
        display: flex;
        justify-content: flex-end;
        min-width: 30%;
        align-items: center;
    }
    
    .footer {
        flex-shrink: 0;
        padding: 20px;
        justify-content: space-between;
    }
